.products {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.add-button {
  width: 100%;
  background: #4c70aa;
  font-size: 17px;
  color: azure;
  font-weight: 600;
}

app-admin-single-product{
  min-width: 33%;
}
