<form #form="ngForm" class="product-form">
  <mat-form-field class="full-width">
    <input matInput
           [(ngModel)]="product.name"
           required
           name="name"
           placeholder="Name">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput
           [(ngModel)]="product.price"
           type="number"
           required
           name="price"
           placeholder="Price"/>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput
           ngModel
           type="number"
           required
           name="count"
           [(ngModel)]="product.count"
           placeholder="Count"/>
  </mat-form-field>

  <button mat-stroked-button
          class="full-width"
          type="button"
          color="primary"
          [disabled]="form.invalid"
          (click)="processForm()">Send</button>
</form>
